* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: #333;
  background-color: #fff;
  font-family: "SS", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  word-break: keep-all;
  word-wrap: break-word;
  font-size: 10px;
}
ul,
ol,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
img {
  border: 0;
  vertical-align: middle;
}
.wrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.inner {
  position: relative;
  max-width: 122.8rem;
  margin: 0 auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}
